
body {
    font-family: 'Outfit', sans-serif;
    background: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 450vh;
    min-width: 100vw;

}

.recipe-card {
    background: hsl(0, 0%, 100%);
    border-radius: 2rem;
    width: 700px;
    max-width: 700px;
    overflow: hidden;
    padding-top: 45px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 45px;
    align-items: center;
    justify-content: center;
}


.prep-time {
    background: hsl(330, 100%, 98%);
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin: 1.0rem 0;
    line-height: 2.5;
}

h1 {
    font-family: 'Young Serif', serif;
    color: hsl(24, 5%, 18%);
    line-height: 1.3; 
    padding-top: 10px;  
}

h2 {
    font-family: 'Young Serif', serif;
    color: hsl(14, 45%, 36%);
    margin-top: 2rem;
    line-height: 1.3;
}

h3 {
    color:hsl(332, 51%, 32%); 
    margin-top: 4px;
    margin-bottom: 2px;
    margin-left: 20px;

}

.second-data {
    color: hsl(14, 45%, 36%);
    padding: 2rem;
}

p {
    line-height: 1.7;
    font-size: 16px;
}

.recipe-card img {
    display: block;
    width: auto;                  
    max-width: 100%; 
    border-radius: 2rem 2rem 2rem 2rem;
    align-self: center;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

table td {
    padding: 1.75rem;
    border-bottom: 1px solid hsl(30, 18%, 87%);
    line-height: 0.0;
}

table tr:last-child td{
    border-bottom:  none;
}

table td:first-child {
    color: hsl(30, 10%, 34%);
}

table td.second-data {
    columns: hsl(14, 45% 36%);
    text-align: left;
}

.list-class {
    line-height: 2.8;
    padding-left: 1.5rem;
}

.list-class2 {
    line-height: 2.6;
    padding-left: 1.5rem;
}

.list-class li::marker {
    color: hsl(14, 45%, 36%);

}

.list-class2 li::marker {
    color:hsl(332, 51%, 32%);
    font-weight: bold;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 10px
}

ul li {
    list-style-position: outside;
    padding-left: 20px;
}

ol li {
    list-style-position: outside;
    padding-left: 20px;
}

@media (max-width: 1024px){
       
    body {
        font-family: 'Outfit', sans-serif;
        background: hsl(30, 54%, 90%);
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 1.6;
        flex-direction: column;

    }
    .recipe-card {
        background: hsl(0, 0%, 100%);
        border-radius: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
    }

    p {
        font-size: 40px;
        color: hsl(30, 10%, 34%);
    }

    ul li, ol li {
        color: hsl(30, 10%, 34%);;
    }

    .recipe-card img {
        width: 100%;
        height: auto;                 
        border-radius: 0;
        margin: 0;
        display: block;
        
    }
    
    .recipe-card .content {
        padding: 0;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    p, li, td {
        font-size: 1rem;
        line-height: 1.7;
    }

    .list-class li::marker {
        font-weight: bold;
        color: hsl(14, 45%, 36%);
    }

    .prep-time {
        background: hsl(330, 100%, 98%);
        padding: 2rem;
        padding-left: 2rem;
        border-radius: 0.5rem;
        margin: 1.0rem 0;
        line-height: 0;
    }

    table td {
        padding: 1rem;
    }

    .prep-time {
        padding: 1rem;
        line-height: 1.8;
    }

    .recipe-content {
        padding-left: 45px;
        padding-right: 45px;
        padding-bottom: 40px;
        padding-top: 0px;
        box-sizing: border-box;
    }

}

